
@model List<Assignment.ViewModel.DepartmentVM>
@{
    ViewData["Title"] = "DepartmentList";
}

<div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 col-xl-10 offset-xl-1" id="cols">
        <h2 class="text-center">Department Info</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Department Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Serial</td>
                        <td>@item.DepartmentName</td>
                        <td>
                            <a asp-action="UpdateDepartment" asp-controller="Home" asp-route-id="@item.DepartmentId">
                                <i class="fas fa-pencil-alt" style="color:forestgreen"></i>
                            </a> &nbsp;&nbsp;&nbsp;
                            <a onclick="MyDeleteConfirm()" asp-action="DeleteDepartment" asp-controller="Home"
                               asp-route-id="@item.DepartmentId"><i class="fas fa-trash" style="color:red"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

@section Scripts{

    <script type="text/javascript">
         
        var b = null;
         $(document).ready(function () {
             b = "@ViewBag.success"
             console.log(b);
           if (b.length !== 0) {
               alertify.success(b);
             }          
         });


        function MyDeleteConfirm() {
            event.preventDefault();
            var anchor = event.target.closest("a");     // Find closest Anchor (or self)
            console.log(anchor.getAttribute('href'));
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',

            }).then((result) => {
                if (result.value) {
                    window.location.href = anchor.getAttribute('href');
                    //Swal.fire(
                    //  'Deleted!',
                    //  'Your file has been deleted.',
                    //  'success'
                    //  )
                }
            })
        }
    </script>
}